<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.smixsistemas.smixflexmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmixFlexMobile"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".View.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".View.Configuracao"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".View.TelaClienteActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".View.TelaDePedidoActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".View.OrcamentoActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".View.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
